.dashboard-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.dashboard-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 2px solid #e3e3e3; /* Light border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-icon {
  margin-bottom: 10px;
}

.dashboard-number {
  font-size: 32px; /* Increased font size */
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard-text {
  font-size: 20px; /* Increased font size */
  color: #666;
}

.parent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.charts {
  padding-left: 20px;
}
