/* Admin.css */
.admin {
  width: 250px;
  height: 100%;
  min-height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 100px; /* Adjust as needed */
}

.admin-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-menu li {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-menu li:hover {
  background-color: #333;
}

.admin-menu li span {
  margin-left: 10px;
}
